/* ---------------------------------------------
    [Table of contents]

    1. General CSS
    2. 

-----------------------------------------------------*/


/*
* ----------------------------------------------------
*   1. General CSS 
* ----------------------------------------------------
*/

@font-face {
    font-family: 'utmavo';
    src: url('../fonts/utmavo.eot');
    src: url('../fonts/utmavo.woff');
    src: url('../fonts/utmavo.ttf');
    src: local('utmavo'), url('../fonts/utmavo.woff') format('woff'), url('../fonts/utmavo.ttf') format('truetype');
}

@font-face {
    font-family: 'utmavobold';
    src: url('../fonts/utmavobold.eot');
    src: url('../fonts/utmavobold.woff');
    src: url('../fonts/utmavobold.ttf');
    src: local('utmavobold'), url('../fonts/utmavobold.woff') format('woff'), url('../fonts/utmavobold.ttf') format('truetype');
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: #343434;
    font-family: 'utmavobold';
}

body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'utmavo';
}

a:hover {
    text-decoration: none
}

.section-padding {
    padding: 100px 0px;
}

.section-title {
    font-size: 15px;
    color: #003351;
    margin-bottom: 70px;
}

.section-title h2 {
    color: #003351;
    font-size: 36px;
}


/* ------------------------------------
    2.Hero Area CSS
* ------------------------------------
*/

.header-area.header-absolute {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    width: 100%;
    background: #ffffff;
}

.header-area {
    padding: 0px 0px;
}

.logo img {
    width: 145px;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    color: #10405c;
    padding: 27px 7px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'utmavobold';
}

.main-menu li a:hover {
    color: #ff9426;
    transform: scale(1.1);
}

.contact-menu img {
    position: absolute;
    top: 12px;
    left: 0;
}

.contact-menu a {
    padding-left: 30px;
    font-size: 13px;
    font-family: 'utmavobold';
    color: #bababa;
    line-height: 25px
}

.contact-menu a span {
    padding-left: 30px;
    display: block;
    color: #ff8800;
    font-size: 18px;
    font-family: 'utmavobold';
}

.hero-area {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #efefef;
    position: relative;
    z-index: 1;
    padding: 160px 0px;
    max-height: 750px;
}

.hero-area:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-image: url(../images/hero-bg-overlay.png);
    background-repeat: no-repeat;
}

.hero-content h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #008ce6;
}

.hero-bg {
	background-image: url(../images/hero-image.png);
	position: absolute;
	bottom: 0px;
	right: 12%;
	height: 78%;
	width: 23%;
	background-position: center;
	background-size: cover;
}

.hero-content {
    color: #003351;
    font-size: 22px;
    font-weight: 300;
    padding: 150px 0px 0px;
}

.boxed-btn {
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 11px 30px;
    font-weight: 400;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'utmavobold';
    background: #ff8800;
}

.hero-area .boxed-btn {
    margin-top: 40px;
    margin-right: 20px
}

.hero-area .boxed-btn.blue-color-btn {
    background: #003351;
    margin-right: 0px;
    transition: 0.3;
}

.boxed-btn:hover,
.boxed-btn.blue-color-btn:hover {
    color: #fff;
    background-color: #111;
}

.product-img {
    max-width: 350px;
    padding-top: 13px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.padding-top-100 {
    padding-top: 100px;
}


/* ------------------------------------
    3.CTA Area CSS
* ------------------------------------
*/

.cta-area {
    padding: 30px 0px;
    font-size: 18px;
    background: #008ce6;
    color: #fff;
}


/* ------------------------------------
    4.About Us Area CSS
* ------------------------------------
*/

.about-us-area {
    background-color: #efefef;
    position: relative;
}

.about-us-img {
    position: absolute;
    left: -60px;
    top: 28px;
}

.about-us-icon {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px
}

.single-about-box {
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    min-height: 250px;
    padding-left: 90px;
    padding-top: 30px;
    padding-right: 30px;
    font-size: 14px;
    color: #5e7188;
    background: #fff
}

.about-service-list .col-md-6 {
    padding: 0px
}

.about-service-list .row {
    margin: 0px;
}

.single-about-box h3 {
    color: #003351;
    font-size: 18px;
}


/* ------------------------------------
    5.Service Area CSS
* ------------------------------------
*/

.service-area {
    background: #efefef;
    color: #003351;
    font-size: 15px;
}

.service-content {
    position: relative;
    margin-top: 21px;
}

.fixed-heading {
    margin: 0px;
    background: #008ce6;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    top: -20px;
}

.service-info {
    padding: 40px 40px;
    background: #fff;
}

.service-icon {
    position: absolute;
    left: 45px;
    top: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px
}

.service-info-image {
    background-image: url(../images/service-info-img.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 185px
}

.service-info p {
    margin-top: 20px
}

.single-service-item {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    height: 197px
}

.single-service-item h3 {
    padding-left: 50px;
    font-size: 18px;
    color: #003351;
}

.read-more-btn {
    text-transform: uppercase;
    font-size: 15px;
    color: #003351;
    font-family: 'utmavobold';
    display: inline-block;
    margin-top: 10px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    padding-bottom: 5px;
}

.read-more-btn:hover {
    border-color: #ff8800;
}

.textimonial-carousel-area {
    background: #008ce6;
    color: #fff;
    font-size: 15px;
}

.single-testimonial i.fa {
    font-size: 28px;
    margin-bottom: 40px;
}

.single-testimonial h3 {
    font-size: 24px;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.pricing-table ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.custome-tab .tab-list li {
    padding-bottom: 15px;
    font-size: 15px;
    text-transform: capitalize;
    font-family: 'utmavobold';
    color: #003351;
    display: block;
    margin-bottom: 10px
}

.custome-tab .tab-list li a {
    position: relative;
}

.custome-tab .tab-list li.active a:after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: -8px;
    height: 3px;
    width: 100%;
    background: #ff8800;
}

.tab-list li.active a {
    text-decoration: none;
}

.single-price-list {
    background: #efefef;
    text-align: center;
    color: #003351;
    padding: 40px 15px;
    transition: 0.3s;
}

.single-price-list:hover,.single-price-list.active {
    background: #008ce6;
    color: #fff;
    box-shadow: 0 0 40px #e2e2e2
}

.single-price-list .pricing-list {
    text-align: left;
    font-size: 15px;
    position: relative;
}

.single-price-list h4 {
    font-size: 22px;
    color: #003351;
    margin-bottom: 50px;
    transition: 0.3s;
}

.single-price-list.single-price-list:hover h4, .single-price-list:hover .price-box .price,.single-price-list.single-price-list.active h4, .single-price-list.active .price-box .price {
    color: #fff
}

.single-price-list .price-box {
    border-bottom: 2px solid #fff;
    margin-bottom: 50px;
    padding-bottom: 50px
}

.single-price-list .price-box .price {
    font-size: 36px;
    color: #003351;
    font-family: 'utmavobold';
    transition: 0.3s;
}

.single-price-list .price-box .price span {
    font-size: 18px;
    font-family: 'utmavo';
}

.single-price-list .pricing-list li {
    padding-bottom: 10px
}

.single-price-list .pricing-list li span {
    position: absolute;
    right: 0px;
    font-family: 'utmavobold';
}

.single-price-list .boxed-btn {
    background: #fff;
    color: #003351;
    margin-top: 30px;
    transition: 0.3s;
}

.single-price-list:hover .boxed-btn,.single-price-list.active .boxed-btn {
    background: #ff8800;
    color: #fff;
}


/* ------------------------------------
*   11.Footer Area CSS
* ------------------------------------
*/

.footer-area {
    background: #2e3b4e;
    color: #fff;
    padding: 70px 0px;
    font-size: 15px;
    border-bottom: 2px solid #fff;
}

.footer-area h4 {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 50px;
    position: relative;
}

.footer-area h4:after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: -15px;
    height: 3px;
    width: 50px;
    background: #ff8800;
}

.footer-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.8;
}

.footer-area ul li a {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.email-subscribe-form input[type=email],
.email-subscribe-form input[type=text] {
    width: 100%;
    margin-right: -15px;
    border-radius: 3px;
    border: none;
    background-color: #4d5868;
    margin-bottom: 15px;
    padding: 12px;
}

.email-subscribe-form input[type=submit] {
    width: 50%;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding: 12px;
    font-weight: 400;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'utmavobold';
    background: #ff8800;
    border: none;
}

.email-subscribe-form input[type=submit]:hover {
    background: #fff;
    color: #343434;
}


/* ------------------------------------
*   12. Copyright Area CSS
* ------------------------------------
*/

.copyright-area {
    background: #2e3b4e;
    padding: 15px 0;
    margin: 0;
    color: #999999;
    font-size: 13px
}



.project-filter {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
}

.project-filter li {
    display: inline-block;
    padding: 0px;
    cursor: pointer;
    font-size: 15px;
    color: #003351;
    text-transform: uppercase;
    font-family: 'utmavobold';
    position: relative;
    margin: 0px 5px;
    transition: 0.3s;

}
.project-filter li.active:after{
    position: absolute;
    content: "";
    left: 0px;
    bottom: -8px;
    height: 3px;
    width: 100%;
    background: #ff8800;
}
.project-filter li.active {
    color: #0adcd5;
}

.single-project {
    background-color: #ddd;
    height: 350px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

.project-bg-1 {
    background-image: url(../images/portfolio-1.jpg);
}

.project-bg-2 {
    background-image: url(../images/portfolio-2.jpg);
}

.project-bg-3 {
    background-image: url(../images/portfolio-3.jpg);
}

.project-bg-4 {
    background-image: url(../images/portfolio-4.jpg);
}

.project-bg-5 {
    background-image: url(../images/portfolio-5.jpg);
}

.row.project-list .col-md-6:nth-child(3) .single-project,
.row.project-list .col-md-6:nth-child(5) .single-project {
    height: 250px
}

.project-hover h4 {
    color: #fff;
    position: absolute;
    bottom: 3%;
    left: 2%;
    margin-bottom: 0px;
}

.project-hover h4 span {
    display: block;
    font-size: 80%;
    margin-top: 10px;
    font-weight: normal;
}

.row.project-list .col-md-4 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.row.project-list {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.item-hover {
    padding: 30px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: 0.6s;
    transition: 0.6s;
    visibility: hidden;
}
.item-hover:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #1b98e9;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.4s;
}
.hover-content a {
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    margin-top: 15px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 40px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    color: #1b98e9;
}

.project-title {
	margin: 0px;
	font-size: 18px;
	color: #fff;
}
.project-title span{
    display: block;
    font-size: 85%
}
.single-project:hover .item-hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}
.single-project:hover .item-hover:before {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    visibility: visible;
}

.work-table {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

.work-tablecell {
    display: table-cell;
    vertical-align: middle;
}
